*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
button{
  padding:5px;
  margin: 5px;
}
input{
padding: 5px;
}
h1{
  padding: 5px;
  margin: 10px;
}
body{
  padding: 15px;
  background-image: linear-gradient(to bottom,rgb(192, 182, 182),rgb(146, 206, 146));
  min-height: 100vh;
}